* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primaryColor: #58b852;
  --mainWhite: #ffffff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainText: #707070;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

body {
  background: var(--mainWhite);
  font-family: trebuchet-ms, Tahoma, sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: trebuchet-ms, Tahoma, sans-serif !important;
  color: #545871 !important;
  font-weight: bolder;
  opacity: 1 !important;
}

[contenteditable] {
  outline: 0px solid transparent;
}
.pointer {
  cursor: pointer;
}

input:focus::placeholder {
  color: transparent;
  /* opacity: 0; */
}
input::placeholder {
  opacity: 0.4;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
}

.text-link {
  color: inherit !important;
  text-decoration: inherit !important;
}

#navItems {
  color: #707070;
  font-weight: bolder !important;
  opacity: 1;
}
Nav.Link {
  color: var(--mainText);
  text-decoration: none;
}

/**HERO***/
.defaultHero {
  background: url("./images/landing/hero.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  /* top: 5%; */
  width: 100%;
  height: 600px;
}
.banner {
  display: inline;
  background: var(--mainWhite);
  padding: 3rem;
  text-align: center;
}
.banner h1 {
  font-size: 2.5rem;
}
.bannerBtn {
  border-radius: 1.25rem;
  text-decoration: none;
}

@media screen and (min-width: 576px) {
  .banner {
    padding: 2rem 3rem;
  }
  .banner h1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 992px) {
  .banner {
    padding: 2rem 6rem;
  }
  .banner h1 {
    font-size: 4rem;
  }
}
.card-row {
  margin-top: 25px;
  margin-bottom: 25px;
}
#myCard > .card {
  min-height: 350px !important;
}
.cardTitle > h4 {
  text-align: center;
  font: Bold 60px/56px Henriette;
  letter-spacing: 0px;
  color: #545871;
  opacity: 1;
}
.cardTitle > div p {
  text-align: center;
  font: Light 32px/43px Basic Sans;
  letter-spacing: 0px;
  color: #545871;
  opacity: 1;
}

/*****Why SabiGift******/
.img-fluid {
  max-width: 100%;
  height: auto;
  opacity: 0.85;
}
.why {
  opacity: 1;
  padding: 80px;
  height: auto;
  margin-top: 10%;
}

/*****HOW IT WORKS SECTION***********/
#active {
  background-color: var(--primaryColor);
}
.stepIcon {
  align-self: center;
  background: #f7eceb;
}
.stepOutline {
  flex-direction: row;
  margin-top: 15px;
  background: #ffffff;
  border: 1px solid #e6dbda;
  padding: 10px;
  opacity: 1;
  max-height: 150px;
  cursor: pointer;
}
#stepTitle {
  /* text-align: left; */
  padding: 1rem;
  color: #545871;
  font-size: large;
}

.stepTag {
  font-weight: bold;
  border-left: 1px solid #e6dbda;

  padding: 20px;
  font-size: large;
}

/*****FIND REGISTRY*********/
.leftside {
  opacity: 1;
  /* min-height: 100vh; */
  background-color: var(--primaryColor);
}

.homeicon {
  width: 70px;
  justify-content: center;
  margin-bottom: 30px;
}
/*******Date Picker ********/

.ant-picker {
  padding: 8px 20px;
}
.ant-steps-item-wait .ant-steps-item-icon > .ant-steps-icon {
  display: none;
}
.ant-steps-item-process .ant-steps-item-icon > .ant-steps-icon {
  color: #fff;
  display: none;
}
.ant-steps-item-wait .ant-steps-item-icon {
  border-color: #ffffff;
}
.ant-steps-item-process .ant-steps-item-icon {
  border-color: #ffffff;
  background: #707070;
}
.anticon .anticon-check .ant-steps-finish-icon {
  display: none;
}
.tail
  + .ant-steps-vertical
  > .ant-steps-item
  > .ant-steps-item-container
  > .ant-steps-item-tail {
  position: absolute;
  top: 0;
  left: 16px;
  width: 1px;
  height: 0%;
}

.registryBtn {
  margin-left: 35px !important;
}

.rightside {
  background: #e2f3e1;
  /* width: 100%; */
  /* height: 100vh; */
  opacity: 1;
  color: #888888;
}

.rightSide {
  background: #e2f3e1;
  opacity: 1;
  color: #888888;
  /* padding-left: 30px; */
}

.event {
  display: flex;
  font-size: 1.7rem;
  margin-top: 10px;
  margin-left: 15px;
}
.eventType {
  height: 145px;
  background: #f7f7f7;
}
div.eventItem:hover {
  background: #ffffff;
}

.eventItem {
  background: #f7f7f7;
  padding: 20px;
  /* width: 145px; */
  /* height: 140px; */
  box-shadow: 0px 2px 5px #0000000f;
  border: 1px solid #dddddd;
  border-radius: 5px 0px 0px 4px;
  opacity: 1;
}

.btnBack {
  color: #aaaaaa;
}

/****SignUp****/
.leftSignUp {
  background: url("./images/landing/birthday@2x.png") center/cover no-repeat;
}

.ant-steps-item-title,
.ant-steps-item-description {
  color: white !important;
}

/*************Dashoard Navigation sabiGift Store***********/
.sidebarMenu {
  display: block;
  height: 800px;
  background-color: #f9f9f9;
  border-radius: 64px;
  opacity: 1;
}
Link.active:active {
  color: rgb(0, 162, 255);
}

.cashGift {
  padding: "25px";
  color: #222222;
  border: 1px solid #cbcbcb;
  border-radius: 5px;
  opacity: 1;
}

.giftReceived {
  box-shadow: 0px 15px 30px #00000017;
  color: #222222;
  border: 1px solid #cbcbcb;
  border-radius: 5px;
  opacity: 1;
}

.backgrndImg {
  background: url("./images/landing/Group\ 3351.svg");
}

.stepsCard {
  background: transparent url("images/Sabi-storepage/Gift.svg");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
  height: 125px;
}
.stepsCard2 {
  background: transparent url("images/Sabi-storepage/couple2.svg");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
  height: 125px;
}
.stepsCard3 {
  background: transparent url("images/Sabi-storepage/drinks.svg");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
  height: 125px;
}
.stepsCard4 {
  background: transparent url("images/Sabi-storepage/businessFinance.svg");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
  height: 125px;
}
.stepsCard5 {
  background: transparent url("images/Sabi-storepage/monitor.svg");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
  height: 125px;
}
.cardFooter {
  opacity: 1;
  border-top: 0px !important;
  background: #ffffff !important;
}
.availableItem {
  box-shadow: 0px 2px 8px #00000022;
  border-radius: 8px;
}
.productCards {
  box-shadow: 0px 2px 8px #00000022;
  border-radius: 8px;
  width: 18rem;
  min-height: 10rem;
  padding-left: 0px !important;
  padding-right: 0px !important;
  box-shadow: 0px 1px 8px #00000022;
  border-radius: 8px;
  opacity: 1;
  overflow: hidden;
}
#myCards {
  box-shadow: 0px 15px 45px #d0d0d069;
  border: 1px solid #eff0f0;
  border-radius: 20px;
  opacity: 1;
}
/************MANAGE REGISTRY *************/
.manageReg {
  background-image: url("images/Sabi-storepage/manageReg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  /* height: 30%; */
  object-fit: contain;
}

/* *********Event Type******** */

.birthday {
  /* border: 1px solid var(--mainText); */
  background: transparent
    url("images/Sabi-storepage/happy-birthday-in-different-languages.png");
  border-radius: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: contain;
  margin: auto;
  opacity: 1;
  height: 500px;
}

/*******************Checkout Form page **********************/
.orderBtn {
  background: #6f66f8;
  width: 200px;
  color: #ffffff;
  transition: 0.3s;
}
.orderBtn:hover {
  background-color: #130e5e;
}
