* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primaryColor: #58b852;
  --mainWhite: #ffffff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainText: #707070;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

body {
  /* color: #545871; */
  background: var(--mainWhite);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#navItems{
font-weight: Bold ;
font-size : 20px ;
font-family : Trebuchet MS;
letter-spacing: 0px;
color: #707070;
opacity: 1;
}
Nav.Link {
  color: var(--mainText);
  text-decoration: none;
}

/**HERO***/
.defaultHero {
  background: url("./images/landing/bg@2x.png") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  /* top: 5%; */
  width: 100%;
  height: 600px;
}
.banner {
  display: inline;
  border: 1px solid red;
  background: var(--mainWhite);
  color: Trebuchet MS;
  padding: 3rem 3rem;

  text-align: center;
  /* align-items: center; */
}
.banner h1 {
  font-size: 2.5rem;
}
.bannerBtn {
  display: flex;
  justify-content: space-between;
  border-radius: 1.25rem;
}
.btnBanner {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 576px) {
  .banner {
    padding: 2rem 3rem;
  }
  .banner h1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 992px) {
  .banner {
    padding: 2rem 6rem;
  }
  .banner h1 {
    font-size: 4rem;
  }
}

.cardTitle > h4 {
  text-align: center;
  font: Bold 60px/56px Henriette;
  letter-spacing: 0px;
  color: #545871;
  opacity: 1;
}
.cardTitle > div p {
  text-align: center;
  font: Light 32px/43px Basic Sans;
  letter-spacing: 0px;
  color: #545871;
  opacity: 1;
}

/*****Why SabiGift******/
.img-fluid {
  max-width: 100%;
  height: auto;
  opacity: 0.85;
 
}
.why {
  max-width:500px;
  margin: auto;
  text-align: left;
  vertical-align: middle;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: light;
  font-family: Basic Sans;
  color: #545871;
  opacity: 1;
  padding: 45px;
  align-items: center;
}

/*****HOW IT WORKS SECTION***********/
#active{
  background-color:var(--primaryColor)
}
.stepIcon{
  padding: 10px;

}
.stepOutline {
  flex-direction: row;
  margin-top: 15px;
  background: #ffffff;
  border: 1px solid #e6dbda;
   padding: 10px; 
  opacity: 1;
  max-height: 150px;
  cursor: pointer;
}
#stepTitle {
  border-right: 1px solid #e6dbda;
  text-align: justify;
  padding: 1rem;
  color: #545871;
  font-size: large;
}
#title{
  font-size: large;
  font-weight: 500;
}
.stepTag{
  font-weight: bold;
 font-size: large;
}

 /* @media screen and (max-width: 576px) {
  .stepOutline {
    font-size: 1 rem;
    flex-direction: column;
  }
   */
/* }  */
/*
@media screen and (min-width: 992px) {
  .stepOutline {
    display: block;
  } .stepOutline {
    /* max-width: 459px; */
    /* padding: 2rem 3rem; */
    /* display: block;
  }
}  */


/*****FIND REGISTRY*********/
.leftside {
  padding: 30px;
  margin-top: 0px !important;
  opacity: 1;
  width: 576px;
  text-align: center;
  height: 901px;
  justify-items: center;
  height: 100vh;
  

}
.ant-layout-sider{
  background-color:var(--primaryColor) ;
  justify-items: center;
  margin-top: 0px !important;
  
}
/* .ant-steps-item-process .ant-steps-item-icon > .ant-steps-icon {
  background: var(--offWhite);
} */
.homeicon {
 width: 70px;
 justify-content: center;
 margin-bottom: 30px;
}



.rightSide {
  background-color: #E2F3E1;
  height: 80vh;
  border-left-width: 43px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 1;
  padding-left: 45px !important;
  color: #888888 !important;
  margin-top: 0px !important;
}

.event {
  display: flex;
  font-size: 1.7rem;
  margin-top: 10px;
  margin-left: 15px;
}
.eventType{
  display: flex;
  flex-direction: row;
  width: 608px;
  height: 151px;
  background: #F7F7F7 !important;
  
  
}
.eventItem{
  background: #F7F7F7;
  opacity: 1;
  padding: 20px;
width: 152px;
height: 151px;
box-shadow: 0px 2px 5px #0000000F;
border: 1px solid #DDDDDD;
border-radius: 5px 0px 0px 4px;
opacity: 1;
}

.btnBack{
  margin-top: 72px;
}

/****SignUp****/
.leftSignUp {
width: 608px;
height: 625px;
background: url('./images/landing/Love-heart.png') center/cover no-repeat;
background-color: rgb(114, 10, 10);
opacity: 1;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 1;
  color: #888888 !important;
}
.ant-layout-content{
  font: Bold Arial;
  letter-spacing: 0px;
  color: #888888;
  background: #E2F3E1 no-repeat padding-box;
opacity: 1;
text-align: justify;
margin-top: 0px !important;
}
 

.rightSignUp{
width: 688px;
height: 82px;
letter-spacing: var(--mainSpacing);
text-align: left;
opacity: 1;
}
 .ant-steps-item-title, .ant-steps-item-description {
  color: white !important;
}


.ant-layout.ant-layout-has-sider > .ant-layout, .ant-layout.ant-layout-has-sider > .ant-layout-content {
  padding-left: 80px;
  padding-top: 55px;
}